button
  @include reset-box-model

a.button,
button,
input[type="submit"]
  background: #7b5ae0
  @include background-image(linear-gradient(top, #9372f7, #6443c9))
  @include border-radius(40px)
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .5), 0 1px 2px rgba(255, 255, 255, .25) inset)
  color: #100f14
  display: inline-block
  font-family: inherit
  font-size: $base-font-size
  -webkit-font-smoothing: antialiased
  font-weight: bold
  line-height: normal
  padding: 6px/$base-font-size + em 18px/$base-font-size + em
  text-shadow: 0 1px 0 rgba(255, 255, 255, .15)

  &:hover
    text-decoration: none

  &:active

  &:disabled,
  &.disabled

  &.silver
    background: #858597
    @include background-image(linear-gradient(top, #bdbdd4, #50505d))
    @include box-shadow(0 1px 1px rgba(0, 0, 0, .5), 0 1px 2px rgba(255, 255, 255, .75) inset)
    color: #000
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3)