$grid-min-width: 728px !default
$grid-max-width: 1200px !default

@import "compass/utilities/general/clearfix"

.container
  padding: 0 20px

.row
  max-width: $grid-max-width
  margin: 0 auto
  min-width: $grid-min-width
  @include pie-clearfix
  width: 100%

  .row
    min-width: 0

.columns
  float: left
  margin-left: 4.4%
  min-height: 1px

  &:first-child
    margin-left: 0

[class*="column"] + [class*='column']:last-child
  float: right


// 1. Ideally, we should return a well % width using the next function
// ------------------------------------------------------------------------

// @function column-width($n, $col-width, $gutter-width: $gutter-width)
//   @return $col-width * $n + $gutter-width * ($n - 1)

@function col-width($num-col)
  @if $num-col == 1
    @return 4.3%
  @if $num-col == 2
    @return 13%
  @if $num-col == 3
    @return 21.679%
  @if $num-col == 4
    @return 30.37%
  @if $num-col == 5
    @return 39.1%
  @if $num-col == 6
    @return 47.8%
  @if $num-col == 7
    @return 56.5%
  @if $num-col == 8
    @return 65.2%
  @if $num-col == 9
    @return 73.9%
  @if $num-col == 10
    @return 82.6%
  @if $num-col == 11
    @return 91.3%
  @if $num-col == 12
    @return 100%


// 2.1. And use it here
// ------------------------------------------------------------------------
@mixin span($num-col)
  width: col-width($num-col)

// 2.2. Or here
// ------------------------------------------------------------------------
@for $num-col from 1 through 12
  [data-span="col-#{$num-col}"]
    width: col-width($num-col)

.columns
  &.offset1
    margin-left: 13.1%

    &:first-child
      margin-left: 8.7%

  &.offset2
    margin-left: 21.8%

    &:first-child
      margin-left: 17.4%

  &.offset3
    margin-left: 30.5%

    &:first-child
      margin-left: 26.1%

  &.offset4
    margin-left: 39.2%

    &:first-child
      margin-left: 34.8%

  &.offset5
    margin-left: 47.9%

    &:first-child
      margin-left: 43.5%

  &.offset6
    margin-left: 56.6%

    &:first-child
      margin-left: 52.2%

  &.offset7
    margin-left: 65.3%

    &:first-child
      margin-left: 60.9%

  &.offset8
    margin-left: 74.0%

    &:first-child
      margin-left: 69.6%

  &.offset9
    margin-left: 82.7%

    &:first-child
      margin-left: 78.3%

  &.offset10
    margin-left: 91.4%

    &:first-child
      margin-left: 87.0%

  &.offset11
    &:first-child
      margin-left: 95.7%

  .centered
    float: none
    margin: 0 auto